<div class="center hero-unit">
  <h1>Sistema de Administración Talleres Syrat</h1>

  <h2>
    Inicio
  </h2>

  <%= link_to "Dar de Alta Usuario", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Dar de Alta Pieza", new_spare_part_path, class: "btn btn-large btn-primary" %>

</div>
