<footer class="footer">
  <small>

    <a href="#">Syrat</a>
    by Fancy Bear
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href='#'>News</a></li>
    </ul>
  </nav>
</footer>

    Información
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
    </ul>
  </nav>
</footer>

